---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout pageTitle="Admin page">
    This is admin page and it must be protected
    <form>
        <input type="text">
        <button type="submit">Submit secret form</button>
    </form>
</BaseLayout>