---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>
