---

---

<div
  class="left-12 top-20 m-0 hidden w-full sm:static sm:ml-20 sm:block sm:w-auto sm:bg-transparent"
  id="nav-links"
>
  <a
    href="/"
    class="block px-2.5 text-center text-lg font-bold uppercase no-underline hover:bg-[#ff9776] focus:bg-[#ff9776] sm:inline-block sm:px-4 sm:py-10"
    >Home</a
  >
  <a
    href="/about/"
    class="block px-2.5 text-center text-lg font-bold uppercase no-underline hover:bg-[#ff9776] focus:bg-[#ff9776] sm:inline-block sm:px-4 sm:py-10"
    >About</a
  >
  <a
    href="/blog/"
    class="block px-2.5 text-center text-lg font-bold uppercase no-underline hover:bg-[#ff9776] focus:bg-[#ff9776] sm:inline-block sm:px-4 sm:py-10"
    >Blog</a
  >
</div>
