---
import BaseLayout from "./BaseLayout.astro";

interface Frontmatter {
  title: string;
  description: string;
  author: string;
}

const { frontmatter } = Astro.props as { frontmatter: Frontmatter };
const { title, description, author } = frontmatter;
---

<BaseLayout pageTitle={title}>
  <p><em>{description}</em></p>
  <p>Written by: {author}</p>
  <slot />
</BaseLayout>
